/tasks/.classpath
/tasks/.project
/tasks/.settings
/tasks-server-example/.classpath
/tasks-server-example/.project
/tasks-server-example/.settings
/tasks/.idea
/tasks-plugin-config/*.classpath
/tasks-plugin-config/*.project
/tasks-plugin-config/.settings
/tasks-server-example/.idea/artifacts
/tasks-server-example/.idea
/tasks-server-springboot/.settings
/tasks-server-springboot/*.classpath
/tasks-server-springboot/*.project
