<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<context:component-scan base-package="com.binpo" />
	
	
	
		<!-- property-placeholder是一个属性遍历器，定位一个属性文件，属性文件存放的是jdbc一些连接数据 -->
	<context:property-placeholder location="classpath:jdbc.properties" />
	<!-- 配置数据源 -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="driverClassName" value="${driverClassName}" />
		<property name="url" value="${url}" />
		<property name="username" value="${dbusername}" />
		<property name="password" value="${dbpassword}" />
		<!-- druid 连接池的 -->
		<property name="filters" value="stat" />
		<!--maxActive: 最大连接数量 -->
		<property name="maxActive" value="${maxPoolSize}" />
		<!--initialSize: 初始化连接 -->
		<property name="initialSize" value="${initialPoolSize}" />
	</bean>

	<bean id = "jdbcTemplate" class = "org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>	
	<bean id="namedParameterJdbcTemplate"
		class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
		<constructor-arg ref="dataSource" />
	</bean>
	
	
	<!-- 执行任务使用的锁 -->
	<bean id="lock" class="com.binpo.tasks.lock.ReidsTaskRunLock">
		<constructor-arg name="host" value="127.0.0.1"/>
		<constructor-arg name="port" value="6379"/>
		<constructor-arg name="password" value=""/>
	</bean>
	<!-- 订阅频道的类 -->
	<bean id="jobManageAction" class="com.binpo.tasks.JobManagePubSub">
		<property name="channelName" value="jobManageAction"></property>
	</bean>
	<!--发布订阅   -->
	<bean id="subscriberCenter" class="com.binpo.tasks.pubsub.SubscriberCenterImpl">
		<property name="pubSubHost" value="127.0.0.1" ></property>
		<property name="pubSubPort" value="6379" ></property>
		<property name="pubSubPassword" value=""/>
		<property name="jedisPubSubs">
			<list>
				<ref bean="jobManageAction"/>
			</list>
		</property>
	</bean>
	
	
	<!-- 配置任务的bean 写在配置文件里面方便管理  demo -->
	<bean id="pushjob" class="com.binpo.tasks.jobs.PushExample"/>
	
	
	<!-- 配置工作任务  -->
	
	
	
	
	
	
</beans>